*{
    background-color: black;
}
#navbar{
    display: flex;
    padding: 20px 20px;
    background-color: black;
    margin: 0px;
    justify-content: space-between;
}
nav ul{
    display: flex;
    list-style: none;
}
nav ul li{
    padding: 15px 20px ;
    
}
nav ul li a{
    text-decoration: none;
    color: whitesmoke;
    border-radius: 7px;
    border: 1px;
}
nav ul li a:hover{
    color: black;
    background-color: orangered;
}

img{
    width: 460px;
    height: vh;
    border-radius: 14px;
}
div.home-section{
    display: flex;
    gap: 60px;
}
div.home-section p{
    color: silver;
    font-family: 'Courier New', Courier, monospace;
}
#home a{
    text-decoration: none;
    justify-content: center;
}

.about-btn {
    background-color: black;
    border-radius: 5px;
    margin-top: 30px;
}
.about-btn a:hover{
    background-color: orangered;
    color: black;
}
#about{
    font-size: 10px;
}
div.about-section{
    color: silver;
}
#about div.about-section {
    color: silver;
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
}
#about div.about-section div.two{
    margin-left: 25%;
}
div .three{
    margin-left: 60%;
}
.gallery-btn{
    border-radius: 4px;
    text-decoration: none;
}
.gallery-btn a{
    text-decoration: none;
}
.gallery-btn a:hover{
    color: black;
    background-color: orangered;
}
#projects{
    color: silver;
    
}