*{
    background-color: black;
}
#navbar{
    display: flex;
    padding: 20px 20px;
    background-color: black;
    margin: 0px;
    justify-content: space-between;
}
nav ul{
    display: flex;
    list-style: none;
}
nav ul li{
    padding: 15px 20px ;
    
}
nav ul li a{
    text-decoration: none;
    color: whitesmoke;
    border-radius: 7px;
    border: 1px;
}
nav ul li a:hover{
    color: black;
    background-color: orangered;
}

img{
    width: 460px;
    height: vh;
    border-radius: 14px;
}
div.home-section{
    display: flex;
    gap: 60px;
}
div.home-section p{
    color: silver;
}
#home a{
    text-decoration: none;
    justify-content: center;
}
button {
    background-color: black;
    border-radius: 5px;
    margin-top: 30px;
}
button :hover{
    background-color: orangered;
    color: black;
}
#about{
    font-size: 10px;
}
div.about-section{
    color: silver;
}
div.about-section p{
    color: silver;
    font-size: 10px;
}